<!DOCTYPE html>
<html>
<!-- MEMO: update me with `git checkout gh-pages && git merge master && git push origin gh-pages` -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>My Best Team</title>

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="/vendor/bootstrap-material-design-master/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/vendor/bootstrap-material-design-master/dist/css/ripples.min.css" rel="stylesheet">


    <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick-theme.css"/>


    <link rel="stylesheet" href="/asset/style.css">
    <link rel="stylesheet" href="/asset/override.css">

</head>
<body>



<div class="">

    <!-- Navbar
  ================================================== -->
    <div>
        <div class="row">
            <div class="col-md-6">

                <!--navbar //-->

            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="">



                <img src="/public/images/logo.png" title="logo My Best team" style="width:350px"/>



                <div class="container">
                    {% block header %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>


            </div>
        </div>




        <!-- Forms
      ================================================== -->
        <div class="">


            <div class="row">
                <div class="col-md-6">

                </div>

            </div>
        </div>

    </div>
</div>


    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>



    <script src="/vendor/bootstrap-material-design-master/dist/js/ripples.min.js"></script>
    <script src="/vendor/bootstrap-material-design-master/dist/js/material.min.js"></script>
    <script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>


    <script src="/vendor/jcarousel.js"></script>


    <script>
    $(function () {
        $.material.init();

        $('.carousel').slick({
            arrows: false
        });


    })

</script>



</body>
</html>




