{% extends 'default/profile-base.html.twig' %}

{% block content %}
    <div class="wrapper">

        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>

                    {% for user in users %}


                        <li style="border: solid 1px #000" class="thumbnail ">
                            <div>
                                <div style="">
                                    <!--
                                    <img src="{{ user.thumbnail }}" style="max-height: 250px"/>
                                    //-->

                                    <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" style="max-height: 250px"/>

                                </div>

                                <div>
                                    {{ user.firstname }} {{ user.lastname }}
                                </div>
                            </div>
                        </li>


                    {% endfor %}




                </ul>
            </div>

            <p class="photo-credits">
                Photos by <a href="http://www.mw-fotografie.de">Marc Wiegelmann</a>
            </p>

            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>

            <p class="jcarousel-pagination">

            </p>
        </div>
    </div>



{% endblock %}


