{% extends 'base.html.twig' %}

{% block header %}

    <form method="GET" action="{{ url('user:profile:list') }}" >




        <div class="input-group">
            <input type="text" id="addon2" class="form-control" name="query" value=""  placeholder="Recherche" style="float:left">

                <button type="button" class="display:inline-block; float: right">
                    <i class="fa fa-check-square"></i>
                </button>

        </div>



    </form>


{% endblock %}
